<section
  id="about"
  class="bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-2 col-lg-3 col-lg-offset-1">
        <div class="p-5">
          <!--<img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=452" alt=""> -->
          <img
              class="headshot img-responsive img-circle center-block"
              src="resources/images/headshot_orig.jpg"
              alt="Katie Benoit Cardoso | Editor / Writer / Creative Consultant" />
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-lg-7">
        <div class="p-5">
          <!-- <h2 class="display-4">We salute you!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p> -->
          <h2 class="section-heading">About Me</h2>

            <hr class="light" />

            <p>I’ve worked in the publishing industry for over a decade as a nonfiction book acquisitions editor. I have acquired and edited books across a variety of categories, including outdoor recreation, home improvement and design,
              cookbooks, adventure narratives, and family-focused titles. I specialize in highly designed, instructional books. My edited works include two National Outdoor Book Award winners and a New York Times e-book bestseller.</p>

            <a
              href="#services"
              class="page-scroll btn btn-tertiary btn-xl sr-button">Services</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section
  id="about"
  class="bg-primary">

  <div class="container">

    <div class="row">

      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">

          <div class="col-md-3">

            <img
              class="headshot img-circle"
              src="resources/images/headshot.jpg"
              alt="Katie Benoit Cardoso | Editor / Writer / Creative Consultant" />

          </div>

          <div class="col-md-9 text-center">

            <h2 class="section-heading">About Me</h2>

            <hr class="light" />

            <p>I’ve worked in the publishing industry for over a decade as a nonfiction book acquisitions editor. I have acquired and edited books across a variety of categories, including outdoor recreation, home improvement and design,
              cookbooks, adventure narratives, and family-focused titles. I specialize in highly designed, instructional books. My edited works include two National Outdoor Book Award winners and a New York Times e-book bestseller.</p>

            <a
              href="#services"
              class="page-scroll btn btn-tertiary btn-xl sr-button">Services</a>

          </div>

        </div>

      </div>

    </div>

  </div>

</section> -->
