<section
  id="about"
  class="bg-primary">

  <div class="container">

    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">

        <h2 class="section-heading">About Me</h2>

        <hr class="light" />

        <p>I’ve worked in the publishing industry for over a decade as a nonfiction book acquisitions editor. I have acquired and edited books across a variety of categories, including outdoor recreation, home improvement and design,
          cookbooks, adventure narratives, and family-focused titles. I specialize in highly designed, instructional books. My edited works include two National Outdoor Book Award winners and a New York Times e-book bestseller.</p>

        <a
          href="#services"
          class="page-scroll btn btn-tertiary btn-xl sr-button">Learn more</a>

      </div>

    </div>

  </div>

</section>