<section id="contact">

  <div class="container">

    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">

        <h2 class="section-heading">Contact</h2>

        <hr class="light" />

        <a
          href="mailto:katie@katiebenoit.com"
          class="btn btn-primary btn-xl">Email me</a>

        <hr style="border-color: white" />

        <div class="well">
          <p class="text-muted">
            To have an e-mail form like Stacy Tornio's, it will take a bit of time to set up. In the meantime, I'm simply letting this button leverage the user's default e-mail application to pre-fill an e-mail ready to send to <a
              href="#"
              onClick="return false;">katie@katiebenoit.com</a>
          </p>
        </div>

      </div>

    </div>

  </div>

</section>