<section id="services">

  <div class="container">

    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">

        <h2 class="section-heading">Services</h2>

        <hr class="light" />

        <p>I believe the writing and editing process should be fun, yet meaningful. Your work is your passion and expertise, and I want to help you produce the best finished product possible. I’m here to help guide you along through the
          process of creating, whether it’s brainstorming a concept with you, or to put the finishing touches on the project.</p>

        <hr class="sub-section" />

      </div>

    </div>

    <div class="row">

      <div class="col-lg-8 col-lg-offset-2">

        <p>The services I offer include:</p>

        <ul>
          <li>Copyediting/proofreading</li>
          <li>Creative brainstorming/content creation</li>
          <li>Developmental editing</li>
          <li>Line editing</li>
          <li>Project management</li>
          <li>Proposal writing/editing</li>
        </ul>

        <hr class="sub-section" />

      </div>

    </div>

    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">

        <p>
          For a no-cost consultation about your needs and project goals, or to receive a quote, contact me at <a href="mailto:katie@katiebenoit.com">katie@katiebenoit.com</a>.
        </p>

        <a
          href="#projects"
          class="page-scroll btn btn-tertiary btn-xl sr-button">My Sample Projects</a>

      </div>

    </div>

  </div>

</section>